html {

}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 420px;
  min-width: 580px;
  padding: 0;
  margin: 0;
  background-color: #000;
  background-image: url("bg.jpg");
  background-size: 720px;
  background-repeat: no-repeat;
  background-position: 50% 24px;
  background-attachment: fixed;

}

h1 {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #ccff00;
  margin: 0;
  padding: 0;
  font-size: 48px;
  text-shadow: -1px 2px 1px #ccff00;
  font-family: Palatino, "Palatino Linotype", serif;
}

#login {
  z-index: +2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #d349c7;
}

#login input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66%;
  padding: 6px;
  font-size: 36px;
  font-family: Verdana, sans-serif;
  border-radius: 18px;
  background-color: #f4d4f7;
  color: black;
  border-color: #d349c7;
  border-width: 6px;
}

#login button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +150%);
  width: 33%;
  min-width: 48px;
  padding: 6px;
  font-size: 24px;
  font-family: Verdana, sans-serif;
  border-radius: 15px;
  background-color: #6a19d9;
  border-color: #6a19d9;
  color: #f4d4f7;
  border-width: 3px;
  border-style: outset;
}

#login button:active {
  border-style: inset;
}

#chatroom {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 66%;
  height: 66%;
  overflow: scroll;
  background-color: #6a19d9;
  border-radius: 9px 9px 0 0;
}

#chatroom_name {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 36px;
  text-shadow: -2px 2px 1px;
  font-family: Palatino, "Palatino Linotype", serif;
}

#chatlog {
  position: absolute;
  top: 39px;
  width: 100%;
  height: auto;
  padding-bottom: 90px;
  overflow: scroll;
}

.message {
  font-size: 18px;
  color: #f4d4f7;
  margin-left: 12px;
  font-family: Verdana, sans-serif;
}

.server_message {
  font-size: 16px;
  color: #ccff00;
  margin-left: 12px;
  font-style: italic;
  font-family: Palatino, "Palatino Linotype", serif;
}

.author {
  color: #ccff00;
  font-size: 12px;
  font-style: italic;
  margin-left: 6px;
  font-family: Palatino, "Palatino Linotype", serif;
}

#messenger {
  z-index: +1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 66%;
  height: auto;
  background-color: #d349c7;
  font-size: 18px;
  border-top: 3px solid black;
  font-family: Verdana, sans-serif;
}

#messenger input {
  width: 66%;
  background-color: #f4d4f7;
  color: black;
  padding: 3px;
  margin: 12px 0 0 6px;
  font-size: 18px;
  border-radius: 12px;
  border-color: #d349c7;
  border-width: 3px;
}

#messenger button {
  width: 69px;
  background-color: #6a19d9;
  color: #f4d4f7;
  font-size: 15px;
  border-radius: 9px;
  border-color: #6a19d9;
  border-width: 2px;
  margin: 6px 0 12px 18px;
  border-style: outset;
}

#messenger button:active {
  border-style: inset;
}

h3 {
  padding: 0;
  margin: 12px 12px 12px 6px;
  font-size: 24px;
  color: black;
  text-shadow: -1px 1px 1px;
  font-weight: lighter;
  font-family: Palatino, "Palatino Linotype", serif;
}

#active_users {
  position: absolute;
  top: 34%;
  left: 0;
  width: 16.6%;
  height: 100%;
  text-align: left;
  background-color: #f4d4f7;
}

#userlist {
  height: 270px;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

#userlist ul {
  width: 100%;
  height: auto;
  list-style-type: none;
  color: #6a19d9;
  padding: 0;
  margin: 12px 0 24px 0;
  font-family: Verdana, sans-serif;
}

#userlist li {
  padding: 3px;
  margin: 6px 0 6px 18px;
  font-size: 15px;
}

#userlist li:hover {
  background-color: black;
  color: #f4d4f7;
}

.interact_button {
  display: block;
  background-color: #6a19d9;
  color: #f4d4f7;
  font-size: 10px;
  border-radius: 6px;
  border-color: #6a19d9;
  border-width: 1px;
  margin: 0;
  border-style: outset;
}

#active_rooms {
  position: absolute;
  right: 0;
  width: 16.6%;
  height: 100%;
  background-color: #f4d4f7;
}

#roomlist {
  height: 270px;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

#roomlist ul {
  width: 100%;
  height: auto;
  list-style-type: none;
  color: #6a19d9;
  padding: 0;
  margin: 12px 0 24px 0;
  font-family: Verdana, sans-serif;
}

.private_icon {
  width: 20px;
  float: left;
}

#roomlist li {
  padding: 3px;
  margin: 6px 0 6px 18px;
  font-size: 15px;
}

#roomlist li:hover {
  background-color: black;
  color: #f4d4f7;
}

#new_room {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
}

#new_room_name {
  display: block;
  width: 66%;
  background-color: #ccff00;
  color: black;
  padding: 3px;
  margin: 12px 0 0 6px;
  font-size: 12px;
  border-radius: 9px;
  border-color: #f4d4f7;
  border-width: 3px;
}

#private_checkbox {
  margin: 12px 0 0 12px;
}

#new_room label {
  font-size: 10px;
  margin: 3px;
}

#password {
  display: none;
  font-size: 10px;
  width: 66%;
  background-color: #ccff00;
  color: black;
  padding: 3px;
  margin: 12px 0 0 6px;
  font-size: 12px;
  border-radius: 9px;
  border-color: #f4d4f7;
  border-width: 3px;
}

#new_room button {
  width: 56px;
  background-color: #6a19d9;
  color: #f4d4f7;
  font-size: 12px;
  border-radius: 6px;
  border-color: #6a19d9;
  border-width: 2px;
  margin: 6px 0 12px 12px;
  border-style: outset;
}
